.balance {
    height: auto;
    min-height: 100vh;
    --balance-padding: 1.25rem 0;
    --balance-border-width: 1px;
    display: flex;
    flex-direction: column;
}

.balance_view {
    height: 100%;
    padding: 5rem 1rem 0;
    flex-grow: 1;
    background-color: var(--main-dark-color-light2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    background-color: var(--main-dark-color-light1);
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    color: var(--main-dark-color-light8);
}

.card_header {
    display: flex;
    align-items: center;
}

.balance_card {
    display: inline-grid;
    grid-template-columns: repeat(2, [col-start] 1fr);
}

.category_table_header {
    display: flex;
}

.category_table_header > div:first-child {
    flex: var(--category-table-1st-flex);
}

.category_table_header > p:nth-child(2) {
    flex: var(--category-table-2nd-flex);
    text-align: var(--text-align-right);
}

.category_table_header > p:nth-child(3) {
    flex: var(--category-table-3rd-flex);
    text-align: var(--text-align-right);
}

.category_table_container {
    display: flex;
    flex-direction: column;
}

.category_table_row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom-color: var(--main-dark-color-light8);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.category_table_row > p:nth-child(2) {
    flex: var(--category-table-2nd-flex);
    text-align: var(--text-align-right);
}

.category_table_row > p:nth-child(3) {
    flex: var(--category-table-3rd-flex);
    text-align: var(--text-align-right);
}

.category_table_summary {
    display: flex;
}

.category_table_summary > p:first-child {
    flex: var(--category-table-1st-flex);
    font-style: oblique;
}

.category_table_summary > p:nth-child(2) {
    flex: var(--category-table-2nd-flex);
    text-align: var(--text-align-right);
}

.category_table_summary > p:nth-child(3) {
    flex: var(--category-table-3rd-flex);
    text-align: var(--text-align-right);
}

.my_pie_chart {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    background: conic-gradient(
        brown 0%,
        black 0% 0.55%,
        blue 0.55% 6.08%,
        green 6.08% 13.68%,
        yellow 13.68% 23.27%,
        orange 23.27% 40.47%,
        red 40.47%
    );
}

.icon {
    height: 1rem;
    padding-left: 0.5rem;
}

@media only screen and (min-width: 768px) {
    .balance_view {
        flex-direction: row;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .card {
        justify-content: space-between;
    }

    .balance_card {
        margin-top: 1rem;
    }

    .to_wrapper {
        margin-bottom: 1rem;
    }

    .to {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .balance_container {
        flex: 0 0 70%;
        margin-right: 1rem;
        display: flex;
        flex-direction: column;
    }

    .transaction_container {
        flex: 0 0 30%;
        background-color: var(--primary3-light4);
        color: var(--primary);
        margin: 1rem 0;
        border-radius: 2rem;
        padding: 1rem;
        height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .transaction_form_container {
        display: flex;
        flex-direction: column;
    }

    .transaction_button_container {
        display: flex;
    }

    .transaction_title {
        text-align: center;
        font-size: 1.5rem;
    }

    .category {
        display: flex;
        align-items: center;
        flex: var(--category-table-1st-flex);
    }

    .category > p {
        flex: 0 0 90%;
    }

    .category > .icon {
        flex: 0 0 10%;
    }
}

@media only screen and (min-width: 1440px) {
    .balance {
        --wide-screen-font-size: 1.5rem;
    }

    .income_balance {
        font-size: var(--wide-screen-font-size);
    }

    .expense_balance {
        font-size: var(--wide-screen-font-size);
    }

    .debt_balance {
        font-size: var(--wide-screen-font-size);
    }

    .savings_balance {
        font-size: var(--wide-screen-font-size);
    }

    .to {
        font-size: var(--wide-screen-font-size);
    }
    .balance_container {
        flex-grow: 1;
    }

    .transaction_container {
        flex-grow: 0.5;
        background-color: red;
    }
}
