@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    width: 100vw;
    --primary: #111821;
    --primary2: #233142;
    --primary3: #354a63;
    --primary3-light3: #718091;
    --primary3-light4: #8592a1;
    --primary3-light8: #d6dadf;
    --secondary: #59a52c;
    --secondary2: #6fca3a;

    --main-dark-color: #493752;
    /*--main-dark-color-dark1: #413149;*/
    --main-dark-color-dark1: var(--primary);
    /*--main-dark-color-light1: #5b4b63;*/
    --main-dark-color-light1: var(--primary3);
    /*--main-dark-color-light2: #6d5e74;*/
    --main-dark-color-light2: var(--primary3-light3);
    --main-dark-color-light8: #dad7dc;
    /*--green-dark: #59a52c;*/
    --green-dark: var(--secondary);
    --green-dark-dark-4: #35631a;
    --green-dark-light1: #69ae41;
    --green-light: var(--secondary2);

    --category-table-1st-flex: 0 0 55%;
    --category-table-2nd-flex: 0 0 20%;
    --category-table-3rd-flex: 0 0 20%;

    --text-align-right: end;
    scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/*Remove input arrows/spinners*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
