.plan_container {
    padding-top: 1rem;
}

.category {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
}

.sliders {
    padding-top: 2rem;
}

.slider_input_group {
    display: flex;
    justify-content: space-evenly;
    padding-top: 0.5rem;
}

.category_text_input {
    width: 5rem;
}

.planned_income_group {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media only screen and (min-width: 768px) {
    .planned_income_group {
        padding-top: 1.5rem;
        padding-left: 10rem;
        padding-right: 10rem;
    }

    .category {
        padding-left: 10rem;
        padding-right: 10rem;
    }

    .plan_income_input {
        width: 30rem;
    }

    .slider_input_group {
        display: flex;
        justify-content: space-between;
        padding-top: 0.5rem;
    }

    .sliders {
        padding-top: 3rem;
    }

    .slider {
        margin-right: 20rem;
    }

    .category_text_input {
        width: 15rem;
    }
}

@media only screen and (min-width: 1440px) {
    .planned_income_group {
        padding-top: 2.5rem;
        padding-left: 20rem;
        padding-right: 20rem;
    }

    .category {
        padding-left: 20rem;
        padding-right: 20rem;
    }

    .slider {
        margin-right: 30rem;
    }
}
