.plan_container {
    padding-top: 1rem;
}

.category {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
}

.slider_input_group {
    display: flex;
    justify-content: space-evenly;
    padding-top: 0.5rem;
}

.category_text_input {
    width: 5rem;
}

.planned_income_group {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
}

.plan_income_input {
}
